body {
    padding-top: 56px;
    position: relative;
}

@media(max-width: 767px) { /* HORIZONTAL */
    body {
        padding-bottom: 60px;
    }

    .icon-bar {
        width: 100%; /* Set a specific width */
        background-color: #555; /* Dark-grey background */
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1020;
        height: 60px;
    }

    .icon-bar a { /* TODO: FINISH */
        display: inline-block; /* Make the links appear below each other instead of side-by-side */
        text-align: center; /* Center-align text */
        padding: 0 9px; /* Add some padding */
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */
        font-size: 34px; /* Increased font-size */
    }
}

@media(min-width: 768px) {
    body {
        padding-left: 60px;
    }

    .icon-bar {
        width: 60px; /* Set a specific width */
        background-color: #555; /* Dark-grey background */
        position: fixed;
        top: 56px;
        right: 0;
        left: 0;
        z-index: 1020;
        height: 100%;
    }

    .icon-bar a {
        display: block; /* Make the links appear below each other instead of side-by-side */
        text-align: center; /* Center-align text */
        padding: 0 0; /* Add some padding */
        width: 60px;
        height: 60px;
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */
        font-size: 34px; /* Increased font-size */
    }
}

.icon-bar a:hover {
    background-color: #333; /* Add a hover color */
    text-decoration: none;
}

.icon-bar .active {
    background-color: gray; /* Add an active/current color */
}

.match-card {
    width: 275px !important;
    flex: 0 1 auto !important;
    margin: 0 auto 10px !important;
}

.match-card a {
    color: black;
}

.match-card .winner {
    font-weight: bold;
}

.match-card .eliminated {
    background: #ffcccc;
}

.match-card .score {
    text-align: right;
}

.match-card .title {
    text-align: center;
    color: gray;
    padding-bottom: 10px;
}

.match-card a.date {
    text-align: right;
    font-style: italic;
    color: gray;
    padding-top: 10px;
}

.match-card a.date:hover {
    color: gray;
}

.match-card .link {
    padding-top: 10px;
    color: #0000EE;
}

.bracket-week .match-card {
    margin-bottom: 10px;
}