body {
    margin-top: 56px;
    /* padding-top: 56px; */
    position: relative;
}

@media(max-width: 767px) { /* HORIZONTAL */
    body {
        padding-bottom: 60px;
    }

    .icon-bar {
        width: 100%; /* Set a specific width */
        background-color: #555; /* Dark-grey background */
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 1020;
        height: 60px;
    }

    .icon-bar a { /* TODO: FINISH */
        display: inline-block; /* Make the links appear below each other instead of side-by-side */
        text-align: center; /* Center-align text */
        padding: 0 0; /* Add some padding */
        width: 60px;
        height: 60px;
        line-height: 60px;
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */
        font-size: 34px; /* Increased font-size */
    }

    .icon-bar button { /* TODO: FINISH */
        display: inline-block; /* Make the links appear below each other instead of side-by-side */
        text-align: center; /* Center-align text */
        padding: 0 0; /* Add some padding */
        width: 60px;
        height: 60px;
        line-height: 60px;
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */
        font-size: 34px; /* Increased font-size */
        background: none;
        border: none;
    }
}

@media(min-width: 768px) {
    body {
        padding-left: 60px;
    }

    .icon-bar {
        width: 60px; /* Set a specific width */
        background-color: #555; /* Dark-grey background */
        position: fixed;
        top: 56px;
        right: 0;
        left: 0;
        z-index: 1020;
        height: 100%;
    }

    .icon-bar a {
        display: block; /* Make the links appear below each other instead of side-by-side */
        text-align: center; /* Center-align text */
        padding: 0 0; /* Add some padding */
        width: 60px;
        height: 60px;
        line-height: 60px;
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */
        font-size: 34px; /* Increased font-size */
    }

    .icon-bar button {
        display: block; /* Make the links appear below each other instead of side-by-side */
        text-align: center; /* Center-align text */
        padding: 0 0; /* Add some padding */
        width: 60px;
        height: 60px;
        line-height: 60px;
        transition: all 0.3s ease; /* Add transition for hover effects */
        color: white; /* White text color */
        font-size: 34px; /* Increased font-size */
        background: none;
        border: none;
    }
}

.icon-bar a:hover {
    background-color: #333; /* Add a hover color */
    text-decoration: none;
}

.icon-bar button:hover {
    background-color: #333; /* Add a hover color */
    text-decoration: none;
    cursor: pointer;
}

.icon-bar .active {
    background-color: gray; /* Add an active/current color */
}

.match-card {
    width: 275px !important;
}

.match-card a {
    color: black;
}

.match-card .match-info>a {
    text-align: center;
    color: gray !important;
}

.match-card .winner {
    font-weight: bold;
}

.match-card .eliminated {
    background: #ffcccc;
}

.match-card .score {
    text-align: right;
}

.match-card .title {
    text-align: center;
    color: gray;
    padding-bottom: 10px;
}

.match-card a.date {
    text-align: right;
    font-style: italic;
    color: gray;
    padding-top: 10px;
}

.match-card a.date:hover {
    color: gray;
}

.match-card .link {
    padding-top: 10px;
    color: #0000EE;
}

.bracket-week {
    padding: 0 !important;
    margin: 0 20px 0 0 !important;
}

.bracket-week .match-card {
    flex: 0 1 auto !important;
    margin: 0 0 10px auto !important;
    position: relative;
}

.bracket-week .match-card:last-child {
    margin: 0 auto !important;
}

.bracket-week-groups .match-card {
    flex: 0 1 auto !important;
    margin: 0 0 10px 0 !important;
    left: 30px;
    position: relative;
}

.bracket-week-groups .match-card:last-child {
    margin: 0 0 0 0 !important;
}

.bracket-group {
    position: relative;
}

aside {
    /*background: #ffc;*/
    display: block !important;
    position: relative;  
    padding: 0 0 0 12px; 
    overflow: hidden;
    margin: 0 0 10px 0 !important;
    width: 317px;
}
 
aside h6 {
    /*background: #369;
    color: #fff;*/
    background: #e8e9ea;
    padding: .7em;
    margin: 0;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 1000%;
    -webkit-transform: rotate(90deg) translateX(20px); 
    -moz-transform:    rotate(90deg) translateX(20px);
    -ms-transform:     rotate(90deg) translateX(20px);
    -o-transform:      rotate(90deg) translateX(20px); 
    transform:         rotate(90deg) translateX(20px); 
    -webkit-transform-origin: 1.8em 0.5em; /*1.8em .5em*/
    -moz-transform-origin:    1.8em 0.5em;
    -ms-transform-origin:     1.8em 0.5em;
    -o-transform-origin:      1.8em 0.5em;
    transform-origin:         1.8em 0.5em;
}

td.card-deck {
    margin: 0 !important;
}

h1 {
    text-align: center;
}

.bracket {
    text-align: left;
    padding: 0 10px;
    max-width: 2500px;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.bracket .bracket-week:last-child {
    margin-right: 10px;
}

.bracket .group-col {
    width: 320px;
    flex: 0 0 auto;
}

.match-group-title {
    text-align: center;
}