h1.player-name {
    font-size: 400%;
    margin: 20px;
    margin-top: 76px;
}

.player-links .discord {
    background-color: #7289DA;
    color: white !important;
}

.player-links .team {
    background-color: #7289DA;
    color: white !important;
}

.player-links .discord {
    background-color: #7289DA;
    color: white !important;
}

.player-links img {
    height: 24px;
}