h1.player-name {
    font-size: 400%;
    margin: 20px;
    margin-top: 76px;
}

.player-links .discord {
    background-color: #7289DA;
    color: white !important;
}

.player-links .team {
    background-color: #D0D0D0;
    color: black;
}

.player-links .discord {
    background-color: #7289DA;
    color: white;
}

.player-links img {
    height: 24px;
}

.icon-bar button.eliminated {
    color: lightcoral;
}

h1 {
    margin-top: 20px;
}

.category-links button {
    font-size: 20px;
    background-color: #e4e4e4;
}

.category-links button.eliminated {
    background-color: lightcoral;
}

.category-links button.selected{
    font-size: 20px;
    background-color: lightgray;
}

.category-links button.eliminated.selected {
    background-color: indianred;
}

.player-matches {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.mod-list {
    width: 100%;
    max-width: 100%;
    padding-left: 25px;
    padding-right: 10px;
}

@media(max-width: 767px) {
    .mod-list {
        margin-bottom: 65px;
    }
}

.mod-list .module-image {
    float: left;
    margin-right: 4px;
    margin: auto 4px auto 0;
}

.mod-list .module-listing {
    border: 1px solid gray;
    border-radius: 3px;
    margin: 1px auto;
    padding: 2px;
}

.mod-list .module-listing:hover {
    text-decoration: none;
}

.player-modules .module-listing {
    color: black;
}

.player-module-vetos .module-listing {
    color: white;
}

.module-listing a {
    color: lightgray;
    font-style: italic;
}